@charset "utf-8";/* common style */

*{margin: 0;padding: 0;box-sizing: border-box;}
embed{ max-width: 100%;}
body{     font-size:12px;text-indent: 0;color:#555;font-family:tahoma,arial,"宋体"; }
input, textarea, select {outline: 0;}
ul,li,ol{list-style: none;}
a{outline: none;text-decoration: none;transition: all ease .5s;color:#655;}
a:hover{text-decoration: none;}
img{border: 0; max-width: 100%; vertical-align: middle;}
input{outline: none;}